cci-tag-scanner==2.3.0
ceda-elasticsearch-tools @ git+https://github.com/cedadev/ceda-elasticsearch-tools.git@9364a0b3ad0ec853158af6d9d3a4a11b1a07a837
certifi==2019.3.9
cftime==1.5.0
chardet==3.0.4
charset-normalizer==2.0.4
django==2.2.27
djangorestframework==3.12.4
docopt==0.6.2
elasticsearch==7.6.0
idna==2.8
isodate==0.6.0
jsonpickle==1.2
markdown==3.3.4
netcdf4==1.6.5
numpy==2.1.1
psycopg2-binary==2.9.9
pyparsing==2.4.7
pysolr==3.8.1
python-dateutil==2.8.0
pytz==2019.1
rdflib==4.2.2
requests==2.26.0
six==1.12.0
sparqlwrapper==1.8.5
sqlparse==0.3.0
urllib3==1.26.6
verboselogs==1.7
xmltodict==0.12.0
tqdm==4.64.1
